.aboveTheFold {
  min-height: 50vh;
  background-color: #FDF6E3;
  padding-bottom: 8vmin;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vmin;
  padding-bottom: 4vmin;
}

.titleHeaderText {
  text-align: center;
  font-size: 3.75rem;
  color: #002B36;
  font-weight: 400;
}

.titleDescription100 {
  width: 100%;
  line-height: 1.75rem;
}

.titleDescription75 {
  width: 75%;
  line-height: 2rem;
}

.titleDescription50 {
  width: 50%;
  line-height: 2rem;
}

.titleDescriptionText {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #555;
}

.cardHeaderText {
  margin-bottom: 0;
}

.cardList {
  list-style-type: none;
  padding-left: 0;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
  align-items: flex-start;
  justify-content: space-between;
}

.cardListItem {
  flex: 1;
  padding-right: 2vmax;
}

.cardListText {
  font-size: 1.1em;
  line-height: 1.5;
}
