.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.primaryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #FDF6E3;
  padding-top: 8vmin;
  padding-bottom: 8vmin;
}

.primaryContainerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.primaryContainerContentHeaderText {
  font-size: 3.75rem;
  color: #002B36;
  font-weight: 400;
  line-height: 1em;
}

.primaryContainerContentSubText {
  color: #999;
  font-weight: 400;
  padding-top: 1vmax;
}

.primaryContainerContentButton {
  padding-top: 4vmax;
}

.primaryContainerContentButtonLink {
  text-decoration: none;
  color: #FFF;
}

.primaryContainerAnimation {
  width: 40%;
}

.homepageList {
  list-style-type: none;
  padding-left: 0;
  padding-top: 1vmax;
  align-items: flex-start;
  justify-content: space-between;
}

.homepageListItem {
  flex: 1;
  padding-right: 1vmax;
}

.homepageListText {
  font-size: 1.1em;
  line-height: 1.5;
}

.homepageCardHeader {
  margin-bottom: 0;
}
