.cardContainer {
  min-height: 20vh;
  width: 100%;
  color: #002B36;
  padding-bottom: 8vmin;
}

.cardContainerPaddingTop {
  padding-top: 8vmin;
}

.cardWhiteBackground {
  background-color: rgba(253, 246, 227, 0.5);
}

.cardTanBackground {
  background-color: #FDF6E3;
}
