.cardContainer {
  min-height: 20vh;
  width: 100%;
}

.cardContainerPadding {
  padding-top: 8vmin;
  padding-bottom: 8vmin;
}

.cardTanBackground {
  background-color: #FDF6E3;
  color: #191100;
}

.cardDarkBackground {
  background-color: #191100;
  color: #FDF6E3;
}