/* General Classes */

.appFooter {
  background-color: #FDF6E3;
  padding-top: 8vmin;
  padding-bottom: 8vmin;
  align-items: center;
}

.footerLogoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.habyLabsLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.habyLogoFooterSvg {
  display: block;
  width: 4vmin;
}

.habyLogoText {
  font-size: 2rem;
  padding-left: 0.4em;
  color: #000;
}

.habyDescription {
  color: #000;
  font-size: 1rem;
  padding-top: 1.5vmin;
}

.footerLinksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1rem;
  padding-top: 2vmax;
}

.footerLink {
  padding-left: 2vmax;
  padding-right: 2vmax;
  padding-top: 1vmin;
}

.copyright {
  color: #999;
  font-size: 0.9rem;
  padding-top: 1vmax;
}