.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5vmax;
  padding-bottom: 1.5vmax;
  z-index: 100;
  background-color: #FDF6E3;
  border-bottom: 1px solid #D9CEAF;
}

.headerLink {
  color: #002B36;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
}

.navLink {
  padding-right: 2vmax;
}

.navLink:hover {
  color: #FA5853;
}