.baseText { fill: #FFF; font-family: monospace; font-size: 14px; }
.titleText { fill: #BBB; font-family: monospace; font-size: 10px; }
.headText { fill: #FFF; font-family: monospace; font-size: 24px; }
.levelTitle { fill: #BBB; font-family: monospace; font-size: 18px; }
.levelNum { fill: #FFF; font-family: monospace; font-size: 60px; }
.rectBorder {
  stroke: #FDF6E3;
  stroke-width: 2px;
}